@model Student


<h1>Student Details</h1>

<hr />
<div class="Container">
  <div class="row">
    <dl>
      <div class="col-md-3">
        <dt>Id</dt>
      </div>
      <div class="col-md-9">
        <dd>@Model.id</dd>
      </div>
      <div class="col-md-3">
        <dt>Name</dt>
      </div>
      <div class="col-md-9">
        <dd>@Model.name</dd>
      </div>
      <div class="col-md-3">
        <dt>Mail</dt>
      </div>
      <div class="col-md-9">
        <dd>@Model.mail</dd>
      </div>
      <div class="col-md-3">
        <dt>Password</dt>
      </div>
      <div class="col-md-9">
        <dd>@Model.password</dd>
      </div>
      <div class="col-md-3">
        <dt>Class</dt>
      </div>
      <div class="col-md-9">
        <dd>@Model.standerd</dd>
      </div>
      <div class="col-md-3">
        <dt>Number</dt>
      </div>
      <div class="col-md-9">
        <dd>@Model.number</dd>
      </div>
    </dl>
  </div>

</div>